/* APP ////////////////////////*/
#app-contianer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* COMPONENT CONTAINER FLEX /////////////////////*/
.comp-cont-1{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: fit-content;
  top: 50px;
}

.comp-cont-2{
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: fit-content;
  top: 50px;
}

/* LOGIN /////////////////////////////////////////////////////////////////////// */

#tog-login-signup{
  position: relative;
  top: 300px;
  left: 43%;
}

#login-form{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 45%;
  top: 200px;
}

#username-input{
  position: relative;
  width: 150px;
}

#password-input{
  position: relative;
  width: 150px;
  top: 20px;
}

#login-form-submit{
  position: relative;
  width: 50px;
  top: 40px;
  left: 55px;
}

#signup-form{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 45%;
  top: 200px;
}

#signup-username{
  position: relative;
  width: 150px;
}

#signup-password{
  position: relative;
  width: 150px;
  top: 20px;
}

#signup-password_confirmation{
  position: relative;
  width: 150px;
  top: 40px;
}

#signup-form-submit{
  position: relative;
  width: 60px;
  top: 60px;
  left: 55px;
}

/* NAVBAR ///////////////////////////////////////////////////////////////////////*/
#navbar{
  position: fixed;
  flex-wrap: wrap;
  display: flex;
  top: 0px;
  z-index: 150;
  background-color: white;
  width: 100%;
  height: 30px;
}

#nav-links-cont{
  position: relative;
  left: 2%;
}

#nav-to-home{
  position: relative;
  padding-right: 20px;
  font-size: 20px;
  text-decoration: none;
}

#homeIcon{
  position: relative;
  height: 20px;
  width: 20px;
  left: 2px;
  top: 3px;
}

#nav-to-cookbook{
  position: relative;
  padding-right: 20px;
  font-size: 20px;
  text-decoration: none;
}

#cookbookIcon{
  position: relative;
  height: 20px;
  width: 20px;
  left: 2px;
  top: 3px;
}

#nav-to-store{
  position: relative;
  padding-right: 20px;
  font-size: 20px;
  text-decoration: none;
}

#storeIcon{
  position: relative;
  height: 20px;
  width: 20px;
  left: 2px;
  top: 3px;
}

#nav-to-cart{
  position: relative;
  padding-right: 20px;
  font-size: 20px;
  text-decoration: none;
}

#cartIcon{
  position: relative;
  height: 20px;
  width: 20px;
  left: 2px;
  top: 3px;
}

#signout-button{
  position: relative;
  left: 55%;
  height: 30px;
  top: 0px;
}

#user-container-display{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0px;
  left: 30%;
}

#user-display{
 position: relative;
 font-size: 20px;
 top: -18px;
}

#user-bank{
  position: relative;
  font-size: 20px;
  left: 20px;
  top: -18px;
}

#rupee{
  position: relative;
  height: 20px;
  width: 12px;
  top: 3px;
  padding-right: 5px;
}

/* HOME PAGE //////////////////////////////////////////////////////////////////////////////*/

#home-ing-block{
  position: absolute;
  top: 70px;
  left: 5%;
}

#home-pot-block{
  position: absolute;
  top: 200px;
  left: 70%;
}

#home-dish-block{
  position: absolute;
  left: 5%;
  top: 50px;
}

#tog-cont{
  position: absolute;
  left: -10px;
  background-color: tan;
  top: 10px;
  border-radius: 20%;
  height: 50px;
  width: 200px;
  z-index: 10;
}

#tog-pantry{
  position: relative;
  left: 30px;
  top: 10px;
  z-index: 10;
}

#tog-dishes{
  position: relative;
  left: 60px;
  top: 10px;
  z-index: 10;
}
/* PANTRY//////////////////////////////// */

#pantry-items-cont{
  position: fixed;
  left: 6%;
  display: flex;
  flex-direction: column;
  width: 290px;
  overflow-y: scroll;
  height: 82%;
  top: 100px;
}

#pantry-item{
  position: relative;
  width: 200px;
  height: 100px;
  top: -35px;
}

.pantry-name{
  position: relative;
  left: 70%;
  top: 40%;
  max-width: 150px;
  z-index: 1;
}

.pantry-img{
  position: relative;
  max-height: 50px;
  max-width: 50px;
  left: -10px;
  top: 10px;
  z-index: 1;
}

.pantry-quantity{
  position: relative;
  left: 100%;
  top: 22%;
  width: 20px;
  z-index: 1;
  
}

#adder{
  position: relative;
  left: 70%;
  top: -30%;
  height: 30px;
  width: 30px;
  z-index: 1;
}

#minuser{
  position: relative;
  left: 55%;
  top: 2%;
  height: 30px;
  width: 30px;
  z-index: 1;
}
.pantry-background{
  position: relative;
  top: -100px;
  left: 5%;
  height: 125px;
  width: 125px;
}

/* POT ////////////////////////////////////*/

#pot-items-cont{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100px;
}

#pot-img{
  position: absolute;
  left: -100px;
  top: -90px;
  width: 500px;
  
}

#pot-ing{
  position: relative;
  width: 40px;
  top: 260px;
  left: 30px;
  z-index: 10;
}

.pot-ing-img{
  position: relative;
  width: 110%;
  height: 110%;
}

#start-cooking{
  position: absolute;
  width: 50px;
  height: 25px;
  top: -120%;
  left: 40%;
}

/* DISH////////////////////////////////////// */

#dish-items-cont{
  position: fixed;
  top: 90px;
  left: 5%;
  display: flex;
  width: 375px;
  flex-direction: column;
  overflow-y: scroll;
  height: 80%;
  
}

#dish{
  position: relative;
  height: 130px;
  width: 100%;
  left: 0px;
  top: 20px;
}

#dish-name{
  position: relative;
  font-weight: bolder;
  font-size: small;
  z-index: 2;
  width: 46%;
  left: 50%;
}

#dish-img{
  position: relative;
  z-index: 2;
  height: 100px;
  width: 100px;
  top: -20px;
  left: 40px;
}

#dish-value{
  position: relative;
  z-index: 2;
  top: -120px;
  width: 50%;
  left: 50%;
}

#dish-rupee{
  position: relative;
  height: 20px;
  width: 12px;
  top: 3px;
  padding-right: 1px;
}

#sell-dish{
  position: relative;
  z-index: 2;
  top: -250px;
  left: 50%;
}

#dish-background{
  position: relative;
  height: 150px;
  width: 150px;
  top: -200px;
  left: -25px;

  
}

/* COOKBOOK PAGE /////////////////////////////////////////////////////////////////*/

.cookbook-comp-cont-1{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: fit-content;
  top: 50px;
}
/* COOKBOOK NAV////////////////////////////// */

#cookbook-nav{
  position: fixed;
  width: 10%;
  height: 400px;
  left: 0;
  top: 120px;
  background-color: tan;
  z-index: 150;
}

#search-by-type{
  position: relative;
  left: 9%;
  top: 30px;
  width: 100px;
  
}

#search-by-category{
  position: relative;
  width: 100px;
  top: 0px;
}

/* RECIPE /////////////////////////////////// */

.recipe{
  position: relative;
  top: 20px;
  z-index: 1;
  height: 200px;
  width: 150px;
}

.recipe-name{
  position: relative;
  top: -185px;
  font-size: small;
  left: 10px;
  width: 120px;
  z-index: 1;
}

.recipe-img{
  position: relative;
  height: 50%;
  width: 50%;
  top: -190px;
  left: 25%;
  z-index: 1;
}

.noImg-recipe-img{
  position: absolute;
  height: 60px;
  width: 60px;
  top: 70px;
  left: 30%;
  z-index: 1;
}


.recipe-value{
  position: absolute;
  top: 130px;
  left: 55px;
  z-index: 2;
}


#recipe-background-H{
  position: relative;
  height: 200px;
  width: 150px;
  top: 0px;
  left: 0px;

}

#recipe-background-nH{
  position: relative;
  height: 200px;
  width: 150px;
  top: 0px;
  left: 0px;
}

/* COOKBOOK DETAILS ///////////////////////////////////////////////// */


#cookbook-details{
  position: fixed;
  top: 200px;
  width: 60%;
  height: 70%;
  z-index: 10;
}

#back-to-cb{
  position: relative;
  left: 83%;
  top: 0%;
  z-index: 11;
}

#cbd-name{
  position: relative;
  font-weight: bolder;
  top: -5%;
  left: 40%;
  z-index: 10;
}

#cbd-img{
  position: relative;
  left: 12%;
  top: -5%;
  max-width: 40%;
  max-height: 40%;
  z-index: 10;
}

#cbd-effect{
  position: relative;
  top: -40%;
  left: 50%;
  z-index: 10;
}

#cbd-price{
  position: relative;
  top: -41%;
  left: 50%;
  z-index: 10;
}

#cbd-description-cont{
  position: relative;
  top: -40%;
  left: 50%;
  z-index: 10;
}

#cookbook-description-label{
  position: relative;
  top: -5px;
  z-index: 10;
}

#cookbook-description{
  position: relative;
  top: -10px;
  left: 1%;
  width: 32%;
  font-size: smaller;
  z-index: 10;
}

#cbd-ing-list-cont{
  position: relative;
  display: flex;
  flex-direction: column;
  top: -35%;
  left: 40%;
  z-index: 10;
}

#cbd-ing-list-ings{
  position: relative;
  left: 2%;
  display: flex;
  flex-direction: column;
  font-size: smaller;
  z-index: 10;
}

#cbd-ing1{
  position: relative;
  z-index: 10;
}

#cbd-ing2{
  position: relative;
  top: -20px;
  z-index: 10;
}

#cbd-ing3{
  position: relative;
  top: -40px;
  z-index: 10;
}

#cbd-ing4{
  position: relative;
  top: -60px;
  z-index: 10;
}

#cbd-ing5{
  position: relative;
  top: -80px;
  z-index: 10;
}

#cbd-background-img{
  position: relative;
  top: -760px;
  width: 100%;
  height: 105%;

}

/* STORE PAGE ////////////////////////////////////////////////////////////////////////*/

.store-comp-cont-1{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: fit-content;
  top: 33px;
}
#store-nav{
  position: fixed;
  width: 10%;
  height: 400px;
  left: 0;
  top: 120px;
  background-color: tan;
  z-index: 150;
}

#search-by-category{
  position: relative;
  top: 10%;
  left: 10%;
  width: 100px;
}

#search-by-name{
  position: relative;
  top: 5%;
  width: 125px;
  left: 2%;
}

/* STORE INGREDIENT /////////////////////////////////////*/
.ingredient{
  position: relative;
  flex: auto;
  top: 20%;
  width: 200px;
  height: 180px;
}

.ing-name{
  position: relative;
  font-size: 12px;
  background-color: white;
  left: 20%;
  width: 120px;
  height: 15px;
  opacity: 80%;
  top: 45px;
  z-index: 10;
}

.ing-img{
  position: relative;
  max-height: 30%;
  max-width: 30%;
  left: 35%;
  top: 70px;
  z-index: 10;
}


.ing-background-noH{
  position: relative;
  top: -90px;
  width: 200px;
  height: 200px;
}

.ing-background-H{
  position: relative;
  top: -90px;
  width: 200px;
  height: 200px;
  z-index: 1;
}


/* STORE DETAILS ///////////////////*/

#details-cont{
  position: fixed;
  top: 140px;
  width: 50%;
  height: 70%;
  z-index: 20;
  border-style: groove;
  border-color: tan;
  background-color: white;
  border-width: 5px;
  opacity: 95%;
}

#to-shop{
  position: relative;
  left: 95%;
  top: 1%;
}

#details-name{
  position: relative;
  left: 42%;
  top: -10px;
}

#details-img{
  position: relative;
  height: 100px;
  width: 100px;
  left: 70%;
  top: 10%;
}

#description-label{
  position: relative;
  left: 2%;
  top: -23%
}

#details-description{
  position: relative;
  font-size: smaller;
  left: 3%;
  top: -25%;
  width: 60%;
}

#details-price{
  position: relative;
  left: 2%;
  top: -3%;
}

#quantity-form-cont{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 42.5%;
  top: -60px;
}

#quantity-cont-plus{
  position: relative;
  display: flex;
  flex-direction: row;
}

#minus{
  position: relative;
  top: 0px;
  width: 40px;
  height: 20px;
  left: 10px;
}

#quantity{
  position: relative;
}

#add{
  position: relative;
  width: 40px;
  height: 20px;
  top: 0px;
  left: 20px;
}

#details-total{
  position: relative;
  top: 0px;
  left: 20px;
}

#details-add-to-cart{
  position: relative;
  top: -60px;
  left: 45%;
}



/* CART PAGE ///////////////////////////////////////////////////////////////////*/

#to-store{
  position: fixed;
  top: 10%;
  left: 86%;
  max-width: 200px; 
}

#checkout{
  position: fixed;
  top: 80%;
  left: 86%;
  max-width: 200px; 
}

.cart-comp-cont-2{
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: fit-content;
  top: 50px;
  
}

#cart-items-cont{
  position: relative;
  top: 100px;
  height: fit-content;
  background-color: whitesmoke;
  
}

.cart-item{
  position: relative;
  border-color: whitesmoke;
  border-width: 2px;
  border-style: solid;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  width: 60%;
  height: 22%;
  top: 2%;
  left: 20%;
  
}

#cart-item-info{
  position: relative;
  left: 10%;
}
.cart-ing-name{
  position: relative;
  left: 5%;
}

.cart-ing-img{
  position: relative;
  width: 7%;
  left: 5%;
}

.cart-ing-price{
  position: relative;
  left: 5%;
}

.cart-quantity{
  position: relative;
  left: 5%;
}

#remove-from-cart{
  position: relative;
  left: 55%;
  top: 30px;
  
}

#total-cost{
  position: fixed;
  top: 70%;
  left: 86%;
}

#empty-cart{
  position: relative;
  left: 0%;
  height: 100px;
  font-size: 24px;

}

#empty-cart-text{
  position: relative;
  top: 20%;
  left: 44%;
}







