/* APP */
#app-contianer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* COMPONENT CONTAINER TRIAL!! */
.comp-cont-1{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: fit-content;
  top: 50px;
}

.comp-cont-2{
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: fit-content;
  top: 50px;
}

/* STORE PAGE */

#store-nav{
  width: 90%;
  height: 100px;
  background-color: ghostwhite;
  align-content: center;
  z-index: 5;
}

#search-by-category{
  position: relative;
  top: 20%;
  left: 5%;
}

#search-by-name{
  position: relative;
  top: 20%;
  left: 1%;
}

/* STORE DETAILS */

#details-cont{
  position: fixed;
  width: 70%;
  height: 70%;
  z-index: 10;
  background-color: ghostwhite;
}

#to-shop{
  position: relative;
  left: 80%;
  top: 5%;
}

#details-name{
  position: relative;
  left: 2%;
}

#details-img{
  position: relative;
  height: 130px;
  width: 130px;
  left: 40%;
}

#description-label{
  position: relative;
  left: 2%;
  top: 3%
}

#details-description{
  position: relative;
  left: 2%;
  top: 0%;
  width: 60%;
}

#details-price{
  position: relative;
  left: 2%;
  top: 8%;
}

#quantity-form-cont{
  position: relative;
  display: flex;
  flex-direction: row;
  left: 80%;
}

#minus{
  position: relative;
  top: 15px;
  width: 40px;
  height: 20px;
  left: -10px;
}

#quantity{
  position: relative;
}

#add{
  position: relative;
  width: 40px;
  height: 20px;
  top: 15px;
  left: 10px;
}

#details-total{
  position: relative;
  top: 50px;
  left: -70px;
}

#details-add-to-cart{
  position: relative;
  top: 10%;
  left: 45%;
}

/* CART PAGE */

#to-store{
  position: fixed;
  top: 10%;
  left: 86%;
  max-width: 200px; 
}

#checkout{
  position: fixed;
  top: 80%;
  left: 86%;
  max-width: 200px; 
}

#cart-items-cont{
  position: relative;
  top: 50px;
  
}

.cart-item{
  position: relative;
  border-color: whitesmoke;
  border-width: 2px;
  border-style: solid;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  width: 60%;
  height: 22%;
  top: 2%;
  left: 20%;
  
}

#cart-item-info{
  position: relative;
  left: 10%;
}
.cart-ing-name{
  position: relative;
  left: 5%;
}

.cart-ing-img{
  position: relative;
  width: 7%;
  left: 5%;
}

.cart-ing-price{
  position: relative;
  left: 5%;
}

.cart-quantity{
  position: relative;
  left: 5%;
}

#remove-from-cart{
  position: relative;
  left: 55%;
  top: 30px;
  
}

#total-cost{
  position: fixed;
  top: 70%;
  left: 86%;
}

/* NAVBAR */
#navbar{
  position: fixed;
  top: 0px;
  z-index: 5;
  background-color: white;
  width: 100%;
  height: 5%;
}

#nav-links-cont{
  position: relative;
  left: 2%;
}

#nav-to-home{
  position: relative;
  padding-right: 10px;
  text-decoration: none;
}

#nav-to-cookbook{
  position: relative;
  padding-right: 10px;
  text-decoration: none;
}

#nav-to-store{
  position: relative;
  padding-right: 10px;
  text-decoration: none;
}

#nav-to-cart{
  position: relative;
  padding-right: 10px;
  text-decoration: none;
}

#signout-button{
  position: relative;
  left: 86%;
  top: -68px;
}

#to-cart-button{
  position: relative;
  top: -33px;
  left: 45%; 
}

#user-container-display{
  display: flex;
  flex-direction: row;
  position: relative;
  top: -17px;
  left: 70%;
}

#user-display{
 position: relative;
 top: -18px;
}

#user-bank{
  position: relative;
  left: 20px;
  top: -18px;
}

/* INGREDIENT */
.ingredient{
  border-color: whitesmoke;
  border-width: 2px;
  border-style: solid;
  background-color: gainsboro;
  flex: auto;
  align-items: center;
  width: 150px;
  height: 150px;
  
}

.ing-name{
  position: relative;
  font-size: small;
  left: 10%;
}

.ing-img{
  position: relative;
  max-height: 50px;
  max-width: 50px;
  left: 30%;
  z-index: 1;
}

.ing-button{
  position: relative;
  top: 30%;
  left: 10%;
}

/* COOKBOOK PAGE */

#cookbook-nav{
  width: 90%;
  height: 100px;
  background-color: ghostwhite;
  align-content: center;
  z-index: 5;
}

#search-by-type{
  position: relative;
  left: 10%;
  top: 20px;
}

.recipe{
  width: 15%;
  background-color: antiquewhite;
  padding: 5px;
  border-style: groove;
  border-color: whitesmoke;
}

.recipe-details{
  position: relative;
  left: 35%;
}

/* HOME PAGE */


/* PANTRY */

#pantry-items-cont{
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: whitesmoke;
}

#pantry-item{
  position: relative;
  width: 120px;
  background-color: antiquewhite;
}

/* POT */

#pot-items-cont{
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: whitesmoke;
}

#pot-ing{
  position: relative;
  width: 75px;
  height: 50px;
  padding-right: 10px;
}