body {
  background: #2B8091;
  height: 100%
}

code {
  -webkit-tap-highlight-color: transparent;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: #2B8091;

}
